---
import Prose from "../Prose/Prose.astro"
import LinkButton from "../LinkButton/LinkButton.astro"
import classes from "./IntroductionHero.module.scss"
import { Content as IntroductionHeroContent } from "../../config/contents/introduction-hero-content.mdx"
import { introductionHeroActions } from "../../config/introduction-hero-actions"
---
<section class={classes.IntroductionHero}>
    <Prose class={classes.IntroductionHero__content}>
        <IntroductionHeroContent />
    </Prose>
    <div class={classes.IntroductionHero__actions}>
        {introductionHeroActions.map((introductionHeroAction) => (
            <LinkButton 
                variant={introductionHeroAction.variant}
                href={introductionHeroAction.href}
            >{introductionHeroAction.label}</LinkButton>
        ))}
    </div>
</section>
