---
import { navbarLinks } from "../../config/navbar-links"
import NavbarLink from "./NavbarLink.astro"
import classes from "./NavbarLinks.module.scss"

const normalizePathname = (pathname: string) =>
  pathname.replace(/\/+$/, "") || "/"

const pointsToCurrentPage = (url: URL) =>
  url.origin === Astro.url.origin &&
  normalizePathname(url.pathname) === normalizePathname(Astro.url.pathname)

const resolvedNavbarLinks = navbarLinks.map((navbarLink) => {
  return {
    ...navbarLink,
    resolvedUrl: new URL(navbarLink.href, Astro.url)
  }
})

const navbarActiveLinkStyles = resolvedNavbarLinks
  .filter(({ resolvedUrl }) => pointsToCurrentPage(resolvedUrl))
  .map(({ href, resolvedUrl }) => {
    const navbarLinkSelector = `.${classes.NavbarLinks} a[href="${href}"]`
    const hash = resolvedUrl.hash
    if (hash === "") {
      return `
        ${navbarLinkSelector} {
          text-decoration-color: currentColor;
        }
      `
    }
    const targetId = decodeURIComponent(hash.slice(1))
    return `
      body:has([id="${targetId}"]:target) ${navbarLinkSelector} {
        text-decoration-color: currentColor;
      }
    `
  })
  .join("\n")

---
<div class={classes.NavbarLinks}>
  {resolvedNavbarLinks.map(({ href, label }) => (
    <NavbarLink
      href={href}
      label={label}
    />
  ))}
</div>

{navbarActiveLinkStyles.length > 0 && (
  <style is:inline set:html={navbarActiveLinkStyles} />
)}
